body{
    margin: 0px;
    padding: 0px;
    font-family: 'Secular One', sans-serif;
    min-height: 100%;
}


.arrow:hover{
    cursor: pointer;
}

.nav{
    position: sticky;
    width: 100%;
    background-color: #902923;
    padding-top: 1%;
    
}


.checkout{
    height: 100%;
    width: 100%;
    padding-bottom: 32%;
    background-color: #B9BAA3;
}

.cart{
    margin-left: 40%;
    margin-top: 10%;
    border: solid;
    width: 20%;
   background-color: #D6D5C9;
}

.cart:hover{
    transform: rotate(1deg);
}





.landing{
    height: auto;
    width: auto;
    padding-top: 1%;
    position: relative;
    color: red;
    background-image: url(./smoke.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-color: #0A100D;
    padding-bottom: 24%;
    
}

.landing h1{
    margin-left: 65%;
    color: #902923;
}


.container{
    display: grid;
    grid-template-columns: 40% 40% 40% ;
    grid-template-rows: 40% 40% 40%;
    margin-top: 10%;
    margin-left: 10%;

}

.one{
    display: inline-grid;
    text-align: center;
    height: auto;
    width: auto;
    background-color: #D6D5C9;
    grid-column: 1;
    grid-row: 1;
}

.one img{
    height: auto;
    width: 40%;
    margin-left: 30%;
}

.one button{
    height: auto;
    width: 50%;
    margin-left: 25%;
}

.two{
    display: inline-grid;
    text-align: center;
    width: auto;
    margin-left: 15%;
    background-color: #D6D5C9;
    height: auto;
    grid-column: 2;
    grid-row: 1;
}

.two img{
    height: auto;
    width: 50%;
}

.two button{
    height: auto;
    width: 50%;
    margin-left: 25%;
}

.three{
    display: inline-grid;
    text-align: center;
    background-color: #D6D5C9;
    height: auto;
    width: auto;
    grid-column: 1;
    grid-row: 2;
    margin-top: 10%;
}

.three img{
    height: auto;
    width: 50%;
    margin-left: 20%;
}

.three button{
    height: auto;
    width: 50%;
    margin-left: 25%;
}

.four{
    display: inline-grid;
    text-align: center;
    background-color: #D6D5C9;
    height: auto;
    width: auto;
    margin-left: 15%;
    margin-top: 0px;
    grid-column: 2;
    grid-row: 2;
    margin-top: 10%;

    
}

.four img{
   height: auto;
   width: 50%;
   margin-left: 25%;
}

.four button{
    height: auto;
    width: 50%;
    margin-left: 25%;
}

.five{
    display: inline-grid;
    text-align: center;
    background-color: #D6D5C9;
    height: auto;
    width: auto;
    grid-column: 1;
    grid: 2;
    margin-top: 10%;
    margin-left: 60%


}

.five img{
    height: auto;
    width: 50%;
    margin-left: 20%;
}

.five button{
    height: auto;
    width: 50%;
    margin-left: 25%;
}
