body{
    padding: 0px;
    margin: 0px;
}


.nav{
    position: sticky;
    width: 100%;
    border: solid;
}



.landing{
    position: relative;
    height: 100%;
    width: 100%;
    color: red;
}


.landing img{
   width: auto;
   height: 50%;
   position: absolute;
   
}

.landing h1{
   
  
}

.landing button{
    height: 20%;
    width: 20%;
    background-color: lightblue;
    margin-top: 20%;
    margin-left: 80%;
}

.shop{
   display: grid;
   grid-template-rows: 30% 30% 30% 30% 30%;
   grid-template-columns: 30% 30% 30% 30% 30%;
}

.item   {
    grid-column: 1/3;
    grid-row: 1/2;
    border: solid;
    height: 20%;
    width: 20%;
}

.item img{
    height: 50%;
    width: 50%;
}