body{
    padding: 0px;
    margin: 0px;
}


.nav{
    position: sticky;
    width: 100%;
    
}


.cart{
    margin-left: 40%;
    margin-top: 10%;
    border: solid;
    width: 20%;
}

.cart:hover{
    transform: rotate(1deg);
}





.landing{
    height: 100%;
    width: 100%;
    position: relative;
    color: red;
    background-image: url(./smoke.jpg);
    background-size: cover;
    background-size: 100% 100%;
    padding-bottom: 25%;
}




.landing button{
    height: 20%;
    width: 20%;
    background-color: lightblue;
    margin-top: 20%;
    margin-left: 40%;
}

.container{
    display: grid;
    width: auto;
    height: auto;
}

.one{
    display: block;
    text-align: center;
}

.one img{
    height: 80%;
   width: auto;
}

.two{
    display: block;
    text-align: center;
   
}

.two img{
   height: 80%;
   width: auto;
}

.three{
    display: block;
    text-align: center;
}

.three img{
    height: 80%;
   width: auto;
}

.four{
    display: block;
    text-align: center;
}

.four img{
    height: 80%;
   width: auto;
}

.five{
      display: block;
    text-align: center;
}

.five img{
    height: 80%;
    width: auto;
}
